# bin directory
ch01/ch01_1_1/bin/
ch01/ch01_1_2/bin/
ch01/ch01_2_1/bin/
ch01/ch01_2_2/bin/
ch01/ch01_2_3/bin/
ch01/ch01_2_4/bin/
ch02/ch02_1/bin/
ch02/ch02_2/bin/
ch02/ch02_3/bin/
ch02/ch02_4/bin/
ch03/ch03/bin/
ch03/ch03Tests/bin/
ch04/CayleyTree/CayleyTree/bin/
ch04/OrderApp/OrderApp/bin/
ch04/OrderApp/OrderAppForms/bin/
ch04/OrderApp/OrderAppTests/bin/
ch05/CrawlForm/bin/

# obj directory
ch01/ch01_1_1/obj/
ch01/ch01_1_2/obj/
ch01/ch01_2_1/obj/
ch01/ch01_2_2/obj/
ch01/ch01_2_3/obj/
ch01/ch01_2_4/obj/
ch02/ch02_1/obj/
ch02/ch02_2/obj/
ch02/ch02_3/obj/
ch02/ch02_4/obj/
ch03/ch03/obj/
ch03/ch03Tests/obj/
ch04/CayleyTree/CayleyTree/obj/
ch04/OrderApp/OrderApp/obj/
ch04/OrderApp/OrderAppForms/obj/
ch04/OrderApp/OrderAppTests/obj/
ch05/CrawlForm/obj/